<h2>ゲーム画面</h2>
<div class="other_players_container">
<% @login_users.each do |user| %>
<% if user.user_id != @my_id then %>
<div class="other_players"><%= user.name %></div>
<% end %>
<% end %>
</div>
<div class="game_table">
ここにトランプ出したり・・・
</div>
<div class="my_player">
<%= @my_name %>（自分）
</div>
