// Place all the styles related to the texas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.other_players_container {
  text-align: center;
}
div.other_players {
  display: inline-block;

}
div.game_table {
  border: 3px solid black;
  background-color: green;
  width: 180px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px;
}
div.my_player {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.card_black {
  display: inline-block;
  background-color: white;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
  color: black;
}
div.card_red {
  display: inline-block;
  background-color: white;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
  color: red;
}
div.card_ura {
  display: inline-block;
  background-color: blue;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
}
input#num {
  width: 50px;
}
