// Place all the styles related to the texas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.other_players_container {
  text-align: center;
}
div.other_players {
  display: inline-block;

}
div.game_table {
  border: 3px solid black;
  background-color: green;
  width: 250px;
  height: 115px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5px;
}
div.table_tip {
  color: white;
  height: 35px;
  margin: 0px;
  padding: 0px;
}
div.my_player {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.card_black {
  display: inline-block;
  background-color: white;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
  color: black;
}
div.card_red {
  display: inline-block;
  background-color: white;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
  color: red;
}
div.card_ura {
  display: inline-block;
  /* background: linear-gradient(to bottom, skyblue, white); */
  /* background: repeating-linear-gradient(-45deg, red, red 4px, white 4px, white 8px); */
  background-color: skyblue;
  line-height: 1em;
  border: 1px solid black;
  width: 26px;
  height: 38px;
  text-align: center;
}
div.card_hidden {
  display: inline-block;
  line-height: 1em;
  width: 26px;
  height: 38px;
}
input#num {
  width: 50px;
}
